@page
@model MoneyManagementApp.Pages.MoneyAccount.EditModel

<h4>Maccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Maccount.AccountId" />
            <input type="hidden" asp-for="Maccount.UserId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Maccount.AccountName" class="control-label"></label>
                <input asp-for="Maccount.AccountName" class="form-control" />
                <span asp-validation-for="Maccount.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maccount.Money" class="control-label"></label>
                <input asp-for="Maccount.Money" class="form-control" />
                <span asp-validation-for="Maccount.Money" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Maccount.Icon" />
            <input type="hidden" asp-for="Maccount.Color" />

            <body>
                <div class="selector-container">
                    <span class="selector-label">Money Account Icon</span>
                    <div class="selected-icon-container">
                        <i class="material-icons selected-icon">add</i>
                    </div>
                    <div value="#000" class="selected-color"></div>
                    <div class="icons"></div>
                </div>
            </body>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
