@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Html.DisplayFor(model => model.curr_account.Email)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">@Model.curr_account.Email</a>.</p>
</div>
