@page
@model MoneyManagementApp.Pages.Transaction.EditModel

<h4>Transction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transction.Id" />
            <input type="hidden" asp-for="Transction.UserId" />
            <input type="hidden" asp-for="Transction.Type" />

            <div class="form-group" >
                <label asp-for="Transction.CateId" class="control-label"></label>
                <select asp-for="Transction.CateId" class="form-control" asp-items="ViewBag.CateId" disabled></select>
            </div>
            <div class="form-group" >
                <label asp-for="Transction.AccountId" class="control-label"></label>
                <select asp-for="Transction.AccountId" class="form-control" asp-items="ViewBag.AccountId" disabled></select>
                <span asp-validation-for="Transction.AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transction.Money" class="control-label"></label>
                <input asp-for="Transction.Money" class="form-control" />
                <span asp-validation-for="Transction.Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transction.Datetime" class="control-label"></label>
                <input class="form-control" asp-for="Transction.Datetime" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                <span asp-validation-for="Transction.Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transction.Note" class="control-label"></label>
                <textarea asp-for="Transction.Note" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Transction.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
